// Fonts
$poppinsFontName: 'Poppins';
$poppins: $poppinsFontName;
$poppinsBold: 'Poppins-Bold';
$poppinsBoldItalic: 'Poppins-BoldItalic';
$poppinsItalic: 'Poppins-Italic';
$poppinsSemiBold: 'Poppins-SemiBold';
$poppinsSemiBoldItalic: 'Poppins-SemiBoldItalic';

// Weight
$bold: 600;

//---------- Colors ----------//
// stylelint-disable color-no-hex
// Primary
$light-yellow: #F2D64B;
$grey-blue: #274259;
$marine-blue: #2A558C;
$electric-blue: #4E94BF;
$azur-blue: #5FB6D9;

// Neutral
$cream-white: #eeecec;
$graphite-grey: #333333;
$light-grey: #dbdbdb;
$neutral-black: #1b1b1b;
$neutral-grey: #8d8c91;
$neutral-light-grey: #999999;
$neutral-white: #F2F2F2;

$black: #000000;
$white: #ffffff;
// stylelint-enable color-no-hex

// Breakpoints
$breakpoint-sm-min: 576px;
$breakpoint-md-min: 768px;
$breakpoint-lg-min: 992px;
$breakpoint-xl-min: 1280px;
$breakpoint-xxl-min: 1440px;

$breakpoint-xs-max: $breakpoint-sm-min - 1;
$breakpoint-sm-max: $breakpoint-md-min;
$breakpoint-md-max: $breakpoint-lg-min - 1;
$breakpoint-lg-max: $breakpoint-xl-min - 1;
$breakpoint-xl-max: $breakpoint-xxl-min - 1;

// Shadows
$default-shadow-color: $marine-blue;
$default-shadow: rgba($default-shadow-color, 0.1);
$default-box-shadow: 0 4px 15px 0 $default-shadow;
$default-hover-box-shadow: 0 8px 28px 0 rgba($default-shadow-color, 0.2); 

// Transitions
$transition-duration-fast: 0.25s;
$transition-duration-medium: 0.5s;

//----------------------------//

// Layout
$page-max-width: 128rem;

$page-margin-x-lg: 6rem;
$page-margin-x-md: 3.2rem;
$page-margin-x-sm: 2rem;

$page-margin-y-lg: 7rem;
$page-margin-y-md: 3.2rem;
$page-margin-y-sm: 2rem;

$block-margin-x-lg: 4.8rem;
$block-margin-x-md: 3.8rem;
$block-margin-x-sm: 3.8rem;

$block-margin-y-lg: 4.8rem;
$block-margin-y-md: 3.2rem;
$block-margin-y-sm: 2rem;

$block-border-radius: 1rem;
$block-border-radius-lg: 1.6rem;
$block-border-radius-sm: 0.3rem;

// Sizes
$one_sixth: 16.667%;
$one_quarter: 25%;
$one_third: 33.334%;
$one_half: 50%;
$four_sixth: 66.667%;

// Header
$work-page-header-height: $page-margin-y-lg;

// SideMenu
$sidemenu-width-lg: 48rem;
$sidemenu-width-sm: 100%;

$sideblock-padding-y-lg: 3.2rem;

// SlickSlider
$work-slider-height-sm: 45.5rem;
$work-slider-width: 50rem;
$work-slider-width-sm: 30rem;
