@import '1-settings';

// Export variables to the JS environment.
:export {
  // BREAKPOINTS
  BREAKPOINT_LG: $breakpoint-lg-max;
  BREAKPOINT_MD: $breakpoint-md-max;
  BREAKPOINT_SM: $breakpoint-sm-max;
  BREAKPOINT_XS: $breakpoint-xs-max;

  // COLORS
  COLOR_GREY_BLUE: $grey-blue;
  COLOR_MARINE_BLUE: $marine-blue;

  // FONTS
  FONT_POPPINS: $poppins;
  FONT_POPPINS_BOLD: $poppinsBold;
  FONT_POPPINS_BOLD_ITALIC: $poppinsBoldItalic;
  FONT_POPPINS_ITALIC: $poppinsItalic;
  FONT_POPPINS_SEMI_BOLD: $poppinsSemiBold;

  // HEADER
  WORK_PAGE_HEADER_HEIGHT: $work-page-header-height / 0.1rem;

  // MODAL
  WORK_MODAL_HEIGHT_SM: $work-modal-height-sm / 0.1rem;
  WORK_MODAL_WIDTH: $work-modal-width / 0.1rem;
  WORK_MODAL_WIDTH_SM: $work-modal-width-sm / 0.1rem;

  // SLIDER
  WORK_SLIDER_HEIGHT_SM: $work-slider-height-sm / 0.1rem;
  WORK_SLIDER_WIDTH: $work-slider-width / 0.1rem;
  WORK_SLIDER_WIDTH_SM: $work-slider-width-sm / 0.1rem;
}
